<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--xml方式实例化bean 手动xmlDI注入-->
    <bean id="course" class="com.aaron.spring.ioc.xml.po.Course" init-method="init" destroy-method="destroy">
        <property name="name" value="chinese"/>
        <property name="num" value="1"/>
    </bean>
    <bean id="student" class="com.aaron.spring.ioc.xml.po.Student" init-method="init" destroy-method="destroy">
        <property name="name" value="张三"/>
        <property name="course" ref="course"/>
    </bean>

    <!--DI属性手动注入 构造方法注入和Setter方法注入-->
    <bean id="worker" class="com.aaron.spring.ioc.xml.di.Worker">
        <constructor-arg name="name" value="张三"/>
        <constructor-arg name="sex" value="男"/>
        <constructor-arg name="age" value="22"/>
    </bean>

    <bean id="project" class="com.aaron.spring.ioc.xml.di.Project">
        <property name="name" value="大项目"/>
        <property name="type" value="一级"/>
        <property name="workerList">
            <list>
                <ref bean="worker"/>
            </list>
        </property>

        <property name="workerSet">
            <set>
                <ref bean="worker"/>
            </set>
        </property>
        <property name="workers">
            <array>
                <ref bean="worker"/>
            </array>
        </property>
        <property name="workerMap">
            <map>
                <entry key="1" value-ref="worker"/>
            </map>
        </property>
    </bean>

</beans>
